* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0d0d0d; /* preto premium */
    font-family: "Playfair Display", serif;
    color: #fff;
    padding-bottom: 40px;
}

/* ---------- BOTÕES ---------- */

.container-buttons {
    margin: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    flex-wrap: wrap;
}

button {
    background: linear-gradient(140deg, #b30000, #7a0000);
    border: none;
    border-radius: 12px;
    padding: 12px 16px;
    width: 140px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 3px 12px rgba(255, 0, 0, 0.25);
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Hover com brilho */
button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 5px 18px rgba(255, 50, 50, 0.4);
    opacity: 0.9;
}

/* Clique */
button:active {
    transition: 0.5s;
    transform: scale(0.96);
    opacity: .8;
}

/* Botão guia desativado */
.guia {
    cursor: not-allowed;
    opacity: 0.4;
    pointer-events: none;
    background: #333;
    box-shadow: none;
}

/* ---------- LISTA DE PRODUTOS ---------- */

ul {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 25px;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}

/* CARD */
li {
    background: #1a1a1a;
    border: 1px solid #8133ff80;
    border-radius: 12px;
    overflow: hidden;
    padding-bottom: 15px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 4px 14px rgba(130, 0, 255, 0.25);
}
li.card {
    background: var(--card-bg);
    border: 1px solid var(--roxo-borda);
    border-radius: 12px;
    overflow: hidden;
    padding-bottom: 12px;
    transition: 0.3s ease;
    box-shadow: 0px 4px 15px var(--roxo-shadow);
}
/* Efeito hover no card */
li:hover {
    transform: scale(1.04);
    box-shadow: 0px 8px 18px rgba(130, 0, 255, 0.35);
    border-color: #9e61ff;
}

/* Imagem */
img {
    width: 100%;
    display: block;
    border-bottom: 2px solid #8133ff;
}

/* Nome */
li p {
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
    background: #910823;
}

/* Preço */
.preco {
    color: #ffb84d;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    padding: 6px;
}
